


  
  <div id="img-angular" class="container-fluid">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h2 style="font-size: 40px; margin-top: 50%;">The Modern Web</h2>
            <h2 style="font-size: 40px;">Developer's Platform</h2>
            <span class="badge badge-pill badge-light" style="margin-top: 15px;padding: 15px;"><a href="/docs">Get Started</a></span>
           
        </div>


      </div>
   
</div>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="assets/responsive-framework.svg" style="width: 100%; height: 200px " alt="">
    </div>
    <div class="col-md-4">
        <h2 style="color:royalblue; font-size: 25px; text-transform: uppercase;">Develop Across All Platforms</h2>
       <p style="font-size: 18px;"> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop. 
    </p></div>
    <div class="col-md-2"></div>
</div>

<hr/>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <h2 style="color:royalblue; font-size: 25px; text-transform: uppercase;">Speed & Performance</h2>
        <p style="font-size: 18px;"> Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
<br><br>
Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
</p></div>
 <div class="col-md-4">
        <img src="assets/speed-performance.svg" style="width: 100%; height: 200px " alt="">
    </div>
    <div class="col-md-2"></div>
</div>

<hr/>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="/assets/joyful-development.svg" style="width: 100%; height: 200px " alt="">
    </div>
    <div class="col-md-4">
        <h2 style="color:royalblue; font-size: 25px; text-transform: uppercase;">Incredible Tooling</h2>
       <p style="font-size: 18px;">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.  
    </p></div>
    <div class="col-md-2"></div>
</div>

<hr/>

<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <h2 style="color:royalblue; font-size: 25px; text-transform: uppercase;">Loved by Millions</h2>
        <p style="font-size: 18px;"> From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
        </p></div>
 <div class="col-md-4">
        <img src="/assets/loved-by-millions.svg" style="width: 100%; height: 200px " alt="">
    </div>
    <div class="col-md-2"></div>
</div>
