#blog{
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: royalblue;
  color: white;
  margin-bottom: 20px;
}

.image {
    height: 80%; width: 100%; object-fit: cover;
}

.image-small {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
}
.rounded-circle{
    height:50px;
    width:50px;
}