<div class="container-fluid" id="blog">
    <div class="row">
           <div class="col-md-3">
               <img src="/assets/logo.png" alt="" style="float: right; margin-top: 30px;">
            </div>
                <div class="col-md-3" style="margin-top: 40px;"> 
                    <h1><p style="font-size: 35px;">Angular Blog</p></h1>  
                    <h3>News and Tips from the Angular Team</h3>
                </div>      
           
    </div>        
</div>

<div class="container" >
<div class="row">
    <div class="col-md-8">
        <img src="https://miro.medium.com/max/700/0*ckaXpj5sE7CZmTcL" class="image" alt="">
    </div>
    <div class="col-md-4">
        <h1>With best Practices from start</h1>
        <p style="font-size: 18px;">One of the highest priorities of Angular is to enable best practices from start. We want you to feel comfortable building a large</p>
        <img src="https://miro.medium.com/fit/c/262/262/1*PC5hsShK0vnUFfFVoWjMNg.jpeg" class="rounded-circle" alt=""> 
        <p>Minko Gechev</p>
        <p>Feb 19</p>
    </div>
</div>

</div>

<div class="container">
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-4">
        <img src="https://miro.medium.com/max/700/0*8xLKo0IHv25RGqs5" class="image-small" alt="">
        <h1>Under the Hood of Language Service</h1>
        <p style="font-size: 18px;">State of Language Services</p>
    </div>
    <div class="col-md-4">
      <img src="https://miro.medium.com/max/700/0*QG8CjdeX9VH5OOBu" class="image-small" alt="">
      <h1>Finding the Path Forward with AngularJS</h1>
      <p style="font-size: 18px;">In January 2018 we laid our plans for the final release of AngularJs before entering long term support.</p>
    </div>
    <div class="col-md-4">
      <img src="https://miro.medium.com/max/700/1*677cv0tmORYhVVcoMKxfTA.png" class="image-small" alt="">
      <h1>Angular Debugging Guides</h1>
      <p style="font-size: 18px;">the best part of coding is when something works on a first try.</p>
    </div>
   
</div>
</div>
