<nav>
 
    <ul>
      <label class="logo">Angular</label>
      <li class="nav-item"><a class="nav-link" routerLink="/features">Features</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/docs">Docs</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/resources">Resources</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/events">Events</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
    </ul>
    <ul style="float: right; margin-top:25px;">
      <li><input class="form-control" type="text" placeholder="Search"></li>
      <li><i class="fa fa-twitter" style="font-size:24px; color: white;"></i></li>
      <li><i class="fa fa-github" style="font-size:24px; color: white;"></i></li>
    </ul>
  
  </nav>