
    <div class="container-fluid">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-2">
         
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-8">

        <div class="row">

        <div class="col-md-3">
          <h3 class="text-uppercase">Resources</h3>
  
          <ul style="padding: 15px;" class="list-unstyled">
            <li>
              <a href="#" class="text-white">About</a>
            </li>
            <li>
              <a  href="#" class="text-white">Resouce Listing</a>
            </li>
            <li>
              <a  href="#!" class="text-white">Press Kit</a>
            </li>
            <li>
              <a  href="#!" class="text-white">Blog</a>
            </li>
            <li>
              <a  href="#!" class="text-white">Usage Analysis</a>
            </li>
          </ul>
        </div>
            
        <div class="col-md-3">
            <h3 class="text-uppercase">Help</h3>
    
            <ul style="padding: 15px;" class="list-unstyled">
              <li>
                <a  href="#!" class="text-white">Stack Overflow</a>
              </li>
              <li>
                <a  href="#!" class="text-white">Join Discord</a>
              </li>
              <li>
                  <a href="#!" class ="text-white">Gitter</a>
              </li>
              <li>
                <a  href="#!" class="text-white">Report Issue</a>
              </li>
              <li>
                <a href="#!" class ="text-white">Code of Conduct</a>
            </li>
            </ul>
          </div>

          <div class="col-md-3">
            <h3 class="text-uppercase">Community</h3>
    
            <ul style="padding: 15px;" class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Events</a>
              </li>
              <li>
                <a href="#!" class="text-white">Meetups</a>
              </li>
              <li>
                <a href="#!" class="text-white">Twitter</a>
              </li>
              <li>
                <a href="#!" class="text-white">GitHub</a>
              </li>
              <li>
                <a href="#!" class ="text-white">Contribute</a>
            </li>
            </ul>
          </div>

          <div class="col-md-3">
            <h3 class="text-uppercase">Languages</h3>
    
            <ul style="padding: 15px;" class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Español</a>
              </li>
              <li>
                <a href="#!" class="text-white">简体中文版</a>
              </li>
              <li>
                <a href="#!" class="text-white">正體中文版</a>
              </li>
              <li>
                <a href="#!" class="text-white">日本語版</a>
              </li>
              <li>
                <a href="#!" class="text-white">한국어</a>
              </li>
            </ul>
          </div>

        </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-2">
        
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->      

      <p>Super-powered by Google ©2010-2021. </p>
         <p> Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0. </p>
         <p>Version 11.2.4-local+sha.2e0dea6710. </p>
      
    </div>
  