.container-fluid{
    margin-top: 15px;
    padding: 20px;
    font-size: 18px;
    left: 0;
    width: 100%;
    color: white;
    background-color: hsl(206, 100%, 45%);
}

 .container{
     width: 100%;
     position: relative;
 }
 p {
     text-align: center;
 }
 