<div class="container-fluid">
    <h1>FEATURES & BENEFITS</h1>
</div>

<div class="container">
    <div class="container text-center" style="margin-top: 40px;">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 style="color:royalblue; font-size: 20px; text-transform: uppercase;">cross Platform</h2>
            <img src="/assets/feature-icon.svg" style="height: 80px; width: 80px;" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <h2>Progressive Web Apps</h2>
            <p>Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.</p>
        </div>

        <div class="col-md-4">
            <h2>Native</h2>
            <p>Build native mobile apps with strategies from Cordova, Ionic, or NativeScript.</p>
        </div>

        <div class="col-md-4">
            <h2>Desktop</h2>
            <p>Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus the ability to access native OS APIs.</p>
        </div>
    </div>
    <hr/>
</div>

<div class="container">
    <div class="container text-center" style="margin-top: 40px;">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 style="color:royalblue; font-size: 20px; text-transform: uppercase;">speed and performance</h2>
            <img src="/assets/feature-icon.svg" style="height: 80px; width: 80px;" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <h2>Code Generation</h2>
            <p>Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.</p>
        </div>

        <div class="col-md-4">
            <h2>Universal</h2>
            <p>Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO.</p>
        </div>

        <div class="col-md-4">
            <h2>Code Splitting</h2>
            <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p>
        </div>
    </div>
    <hr/>
</div>

<div class="container">
    <div class="container text-center" style="margin-top: 40px;">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 style="color:royalblue; font-size: 20px; text-transform: uppercase;">Productivity</h2>
            <img src="/assets/feature-icon.svg" style="height: 80px; width: 80px;" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <h2>Templates</h2>
            <p>Quickly create UI views with simple and powerful template syntax.</p>
         </div>

        <div class="col-md-4">
            <h2>Angular CLI</h2>
            <p>Command line tools: start building fast, add components and tests, then instantly deploy</p> 
        </div>

        <div class="col-md-4">
            <h2>IDEs</h2>
            <p>Get intelligent code completion, instant errors, and other feedback in popular editors and IDEs.</p> 
        </div>
    </div>
    <hr/>
</div>

<div class="container">
    <div class="container text-center" style="margin-top: 40px;">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 style="color:royalblue; font-size: 20px; text-transform: uppercase;">full development story</h2>
            <img src="/assets/feature-icon.svg" style="height: 80px; width: 80px;" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <h2>Testing</h2>
        <p>With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and in a stable manner.</p>    
        </div>

        <div class="col-md-4">
            <h2>Animation</h2>
        <p>Create high-performance, complex choreographies and animation timelines with very little code through Angular's intuitive API.</p>    
        </div>

        <div class="col-md-4">
            <h2>Accessibility</h2>
            <p>Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.</p> 
         </div>
    </div>
    <hr/>
</div>

<div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="button"><a href="/docs" style="color: white; font-size: 15px;">Get Started</a></div>
        </div>
</div>






    


    